.primary-button {
  background-color: var(--btn-primary);
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
  color: var(--input-text);
  border: none;
  transition: background-color 0.2s ease;
}

.primary-button:hover {
  background-color: var(--btn-primary-hover);
  cursor: pointer;
}

.secondary-button {
  background-color: var(--btn-secondary);
  color: var(--bg-primary);
  border: none;
  transition: background-color 0.2s ease;
}

.secondary-button:hover {
  background-color: var(--btn-secondary-hover);
}
