.main-wrapper {
  padding-bottom: 4rem;
  width: 100%;
  min-height: 100vh;
  position: relative;

  @media (min-width: 700px) {
    padding-bottom: 0rem;
  }
}

.main-grid-container {
  display: block;
  padding: 2rem;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 5rem;
  /* border: 1px solid white; */

  @media (min-width: 900px) {
    padding: 3rem;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(20, 10px);
    gap: 1rem 3rem;
    align-items: center;
    justify-content: center;
  }
}

.main-grid-container> :first-child {
  /* border: 4px dashed blue; */
  grid-column: 2;
  grid-row: 4;
}

/* advatages */
.main-grid-container> :nth-child(2) {
  /* border: 3px solid orange; */
  padding-top: 3rem;
  grid-column: 1;
  grid-row: 7;
}

/* email plus button */
.main-grid-container> :nth-child(3) {
  /* border: 4px dashed white; */

  @media (min-width: 900px) {
    grid-column: 2;
    grid-row: 6 / span 16;
  }
}

/* terms */
.main-grid-container> :last-child {
  /* border: 4px dashed green; */
  padding-top: 5rem;

  @media (min-width: 900px) {
    grid-column: 1/2;
    grid-row: 17;
  }
}

.choose-product-container {
  margin: 0 auto;
  max-width: 600px;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Header component container */
.small-container {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-header-container {
  height: 160px;
  position: relative;

  padding: 1rem;

  @media (min-width: 600px) {
    height: auto;
  }
}

.heading {
  font-size: 2.6rem;
  padding-bottom: 0.5rem;
  line-height: 1;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

.subheading {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}
